DATABASE_URL="postgresql://etykiety:etykiety@localhost:5432/etykiety"
NEXTAUTH_SECRET="zmien-na-bezpieczny-secret-key-min-32-znaki"
NEXTAUTH_URL="http://localhost:3000"

# Admin
ADMIN_EMAIL="admin@firma.pl"
ADMIN_PASSWORD="zmien-haslo"

# InPost ShipX API
INPOST_API_TOKEN=""
INPOST_ORGANIZATION_ID=""
INPOST_API_URL="https://api-shipx-pl.easypack24.net/v1"

# DHL Express API
DHL_API_KEY=""
DHL_API_SECRET=""
DHL_API_URL="https://express.api.dhl.com/mydhlapi"
DHL_ACCOUNT_NUMBER=""

# WhatsApp Business API (Meta Cloud API)
WHATSAPP_TOKEN=""
WHATSAPP_PHONE_NUMBER_ID=""
